.cart__container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.cart__freeShipping,
.cart__count {
  background-color: #efefef;
  padding: 1rem;
  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: -3px;
    font-family: "Scada", sans-serif !important;
    color: #ff084e;
  }
}

.cart__count {
  margin-top: 20px;
  margin-bottom: 30px;
  h2 {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0;
  }
}

.Cart__Card {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  .card__Image {
    flex: 0.2;
    height: 200px;
    overflow: hidden;
  }
  .card__Description {
    flex: 0.6;
    .cart__item__title {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  .card__Price {
    flex: 0.2;
    align-self: flex-start;
    text-align: right;
    font-family: "Scada", sans-serif !important;
    color: #ff084e;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.cart__Summary {
  background-color: #181818;
  padding: 1rem;
  color: white;
  max-width: 380px;
  @media (max-width: 768px) {
    max-width: auto;
  }
  .summary__title {
    font-size: 2.5rem;
    color: white;
    font-family: "Scada", sans-serif;
    font-weight: 200;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.4rem;
    color: white;
    font-family: "Scada", sans-serif;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  span {
    font-size: 1rem;
    color: white;
    font-family: "Scada", sans-serif;
    font-weight: 600;
  }
  .subtotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-between;
    h2 {
      width: 80%;
    }
  }
  .subtotal {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .shipping {
    h2 {
      padding-right: 10px;
    }
  }
  .total {
    margin-top: 40px;
    text-transform: uppercase;
    h2,
    span {
      font-size: 2rem;
    }
    h2 {
      width: auto;
    }
  }
  button {
    margin-top: 100px;
  }
}
