nav {
  flex: 1;
  ul {
    display: flex;
  }
  li {
    list-style: none;
    border-right: 1px solid rgba(60, 60, 60, 0.2);
    a {
      padding: 0.8rem 1.4rem;
      text-decoration: none;
      font-family: "Scada", sans-serif;
      font-size: 16px;
      color: rgba(60, 60, 60, 0.4);
      transition: all 0.4s ease;
      &:hover,
      &:focus {
        color: rgba(60, 60, 60, 1);
      }
    }
  }
}

.header__shop {
  flex: 1;
  text-align: right;
}
