header {
  display: flex !important;
  justify-content: center;
  padding: 14px 15px;
  .header__logo {
    flex: 1;
    text-align: center;
    img {
      width: 100px;
    }
  }
  &.space-between {
    justify-content: space-between;
    align-items: center;
  }
  &.border {
    border-top: 1px solid rgba(60, 60, 60, 0.2);
    border-bottom: 1px solid rgba(60, 60, 60, 0.2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.12);
  }
}

.hero {
  display: flex;
  background-color: #f2f2f2;
  a {
    flex: 1;
  }
}

.hero__section {
  position: relative;
  &:hover > .hero__section__content {
    transform: translateY(-40px);
  }
  .hero__section__content {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 8%;
    z-index: 10;
    transform: translateY(-8%);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "BentonSans", Arial, sans-serif;
    text-shadow: 2px 2px 4px black, 2px 2px 4px grey;
    transition: all 0.4s ease;
    h2 {
      color: #ffffff !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}
